/* Especificidad (0,0,1) */
body {
  background-color:#e9f0f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e1e1e;
  background-color: white;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* Especificidad (0,0,1) */
a {
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: #0066cc;
}

/* Especificidad (0,0,1) */
a:hover {
  background-color: #5f8ebd;
  color: white;
}

/* Especificidad (0,1,0) */
/*Justificación: el enunciado permite este selector para indicar en que página nos encontramos */
.active {
  background-color: #ffcc00;
  color: #000000;
}

/* Especificidad (0,0,1) */
header {
  background-color: #074480;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Especificidad (0,0,2) */
header h1 {
  margin: 0;
  font-size: 3rem;
}

/* Especificidad (0,0,3) */
header h1 a {
  background-color: #074480;
  color: white;
  text-decoration: none;
}

/* Especificidad (0,0,2) */
header > button {
  font-size: 2rem;
  background: none;
  border: none;
  background-color: #074480;
  color: white;
  cursor: pointer;
  user-select: none;
  display: block;
}

/* Especificidad (0,0,2) */
header nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 1rem;
  background-color: #074480;
  color: #ffffff;
  border-radius: 0 0 0 0.5rem;
  padding: 0.5rem 0;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* Especificidad (0,0,3) */
header:focus-within nav,
header nav.show {
  display: flex;
}

/* Especificidad (0,0,2) */
header nav a {
  background-color: #074480;
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* Especificidad (0,0,3) */
header nav a:last-child {
  border-bottom: none;
}

/* Especificidad (0,0,2) */
main, aside {
  padding-left: 1rem;
}

/* Especificidad (0,0,1) */
main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Especificidad (0,0,2) */
main > section {
  background-color: #ffffff;
  color: #000000;
  margin: 1.5em 0;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
  box-sizing: border-box;
}

/* Especificidad (0,0,3) */
main > section > section {
  background-color: #f4f7fb;
  color: #000000;
  border-left: 0.25em solid #0c5bab;
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.75em;
}

/* Especificidad (0,0,2) */
main > section:nth-of-type(1) {
  max-width: 75vw;
  padding: 2rem;
  margin: 2rem auto;
}

/* Especificidad (0,0,3) */
main > section:nth-of-type(1) nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Especificidad (0,0,3) */
main > section:nth-of-type(1) article {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #000000;
  margin: 0 auto;
}

/* Especificidad (0,0,2) */
section:nth-of-type(2) article {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
}

/* Especificidad (0,0,3) */
section:nth-of-type(2) article section {
  flex: 1 1 30%;
  max-width: 30%;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
}

/* Especificidad (0,0,4) */
section:nth-of-type(2) article section:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/* Especificidad (0,0,4) */
section:nth-of-type(2) article section footer a {
  font-size: 1rem;
  font-weight: 600;
  background-color: #ffffff;
  color: #0066cc;
  text-decoration: none;
}

/* Especificidad (0,0,5) */
section:nth-of-type(2) article section footer a:hover {
  color: #003366;
  background-color: #ffffff;
}

/* Especificidad (0,0,1) */
h2 {
  color: #074480;
  background-color:#fbfcfd;
  font-size: 2.3rem;
  text-align: left;
  margin: 0 0 0.5rem;
}

/* Especificidad (0,0,1) */
h3 {
  font-size: 1.5rem;
  color: #074480;
  background-color: #ffffff;
  margin: 0 0 0.5rem;
  border-bottom: 0.125em solid #ffcc00;
}

/* Especificidad (0,0,1) */
h4 {
  font-size: 1.4rem;
  color: #0c5bab;
  background-color: #ffffff;
  margin: 0.5em 0;
}


/* Especificidad (0,0,1) */
h5 {
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #333333;
  margin: 0 0 0.5em;
}

/* Especificidad (0,0,1) */
p {
  background-color: #ffffff;
  color: #000000;
  margin: 0.3em 0;
  padding: 0.6em 0.8em;
  border-left: 0.25em solid #074480;
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.05);
}

/* Especificidad (0,0,2) */
header + p {
  all: unset;
  display: block;
  margin-left: 1em;
  margin-top: 1em;
}

/* Especificidad (0,0,1) */
ul {
  padding-left: 1rem;
  list-style-position: inside;
  margin: 0.5em 0 1.5em;
  background-color: #f7faff;
  color: #000000;
  border-left: 0.25em solid #074480;
  border-radius: 0.5em;
}

/* Especificidad (0,0,1) */
li::marker {
  background-color: #ffffff;
  color: #074480;
}

/* Especificidad (0,0,1) */
dt {
  color: #074480;
  background-color: #ffcc00;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  display: inline-block;
}

/* Especificidad (0,0,2) */
audio, video {
  display: block;
  margin: 1rem 0;
  max-width: 90%;
}

/* Especificidad (0,0,1) */
video {
  height: auto;
}

/* Especificidad (0,0,1) */
img {
  display: block;
  width: 50%;
  max-width: 30%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

/* Especificidad (0,0,1) */
figure {
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
}

/* Especificidad (0,0,2) */
figure svg,
figure img {
  width: 100%;
  height: auto;
  display: block;
}

/* Especificidad (0,0,1) */
[id^="mapaRuta_"] {
  width: 90%;
  max-width: 31.25em;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 0.625em;
  box-shadow: 0 0.125em 0.5em rgba(0,0,0,0.2);
}

/* Justificación: se permite usar id para la adaptabilidad de las tablas */
/* Especificidad (0,1,1) */
#tabla-gastronomia {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
  table-layout: fixed;
  word-wrap: break-word;
}

/* Especificidad (0,1,1) */
#tabla-gastronomia caption {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.25rem 0;
  margin: 0.25rem 0 0.5rem 1rem;
  text-align: center;
  background-color: #ffffff;
  color: #074480;
}

/* Especificidad (0,1,2) */
#tabla-gastronomia thead th {
  background-color: #0055aa;
  color: white;
  padding: 0.5em;
  text-align: left;
  border: 0.0625em solid #ccc;
}

/* Especificidad (0,1,2) */
#tabla-gastronomia tbody th,
#tabla-gastronomia td {
  background-color: white;
  color: black;
  padding: 0.5em;
  border: 0.0625em solid #ccc;
  text-align: left;
}

/* Especificidad (0,1,1) */
table:not(#tabla-gastronomia) {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
  box-shadow: 0 0 0.625em rgba(0,0,0,0.1);
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #000000;
}

/* Especificidad (0,1,2) */
table:not(#tabla-gastronomia) th,
table:not(#tabla-gastronomia) td {
  border: 0.0625em solid #ddd;
  padding: 1em;
  text-align: left;
  vertical-align: top;
}

/* Especificidad (0,1,2) */
table:not(#tabla-gastronomia) th {
  background-color: #074480;
  color: white;
}

/* Especificidad (0,1,2) */
table:not(#tabla-gastronomia) tr:nth-child(even) {
  background-color: #f9f9f9;
  color: #074480;
}

/* Especificidad (0,1,2) */
table:not(#tabla-gastronomia) tr:hover {
  background-color: #f1f1f1;
  color: #074480;
}

/* Especificidad (0,0,1) */
button {
  width: auto;
  max-width: none;
  padding: 0.5rem 1rem;
  background-color: #074480;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5em 0;
  transition: background-color 0.3s ease;
}

/* Especificidad (0,0,1) */
button:hover {
  background-color: #607991;
  color: #fff;
  text-decoration: underline;
}

/* Especificidad (0,0,2) */
input, select {
  width: 100%;
  padding: 0.8em;
  border: 0.0625em solid #ccc;
  border-radius: 0.5em;
  font-size: 1em;
  transition: border-color 0.3s;
}

/* Especificidad (0,0,2) */
input[type="datetime-local"] {
  padding: 0.4em;
  font-size: 0.9em;
}

/* Especificidad (0,0,2) */
input:focus, select:focus {
  outline: none;
  border-color: #004080;
  box-shadow: 0 0 0.3125em #004080;
}


/* Especificidad = (0, 1, 0) -> selector por tipo + clase (fieldset) */
form fieldset {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Especificidad = (0, 1, 0) -> selector por tipo + clase (fieldset > legend) */
form fieldset > legend {
  font-weight: bold;
  font-size: 1.2rem;
  color: #074480;
  padding: 0 0.5rem;
}

/* Especificidad = (0, 1, 0) -> selector por tipo + clase (fieldset p) */
form fieldset p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

/* Especificidad = (0, 2, 0) -> selector compuesto: form fieldset p label */
form fieldset p label {
  cursor: pointer;
  user-select: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Especificidad = (0, 3, 1) -> selector compuesto con atributo */
form fieldset p label input[type="radio"] {
  margin: 0;
  width: 1.1em;
  height: 1.1em;
}
