/* Especificidad: 001 */
body {
    font-family: Tahoma, sans-serif;
    color: #333;
    background-color: #fff;
}

/* selector h1 y h2 */


/* Especificidad: 001 */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

/* Especificidad: 002 */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s ease-in-out;
}

/* Especificidad: 002 */
nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Especificidad: 012 */
nav a.active {
    background-color: #ff6600;
    border-radius: 5px;
}

/* Especificidad: 002 */
h1, h2 {
    font-family: Tahoma, sans-serif;
    color: #333;
}
