/* Especificidad: 001 */
@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Especificidad: 001 */
@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* Especificidad: 001 */
@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
